* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

h1 {
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


#todo-input {
  padding: 0.5rem;
  font-size: 1rem;
  background: lightcyan;
}

#todo-button {
  padding: 0.5rem;
  font-size: 1rem;
  background: lightgreen;
  color: rgb(13, 17, 20);
  cursor: pointer;
}

.todo-container {
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  text-align: center;
}

#todo-list {
  min-width: 30%;
  list-style: none;
}

#total {
  text-align: center;
  font-size: medium;
  background-color: antiquewhite;
}

#total-tasks {
  margin-top: 30%;
  border-top: 20vh;
}


